@import url("https://fonts.googleapis.com/css?family=Work+Sans");

:root {
  --body-bg: #eff3f6;
  --card-bg: #fff;
  --text-color: #333;
  --text-color-a: slategrey;
  --line-color: rgba(0, 0, 0, 0.2);
  --skeleton-a: #f1f1f1;
  --skeleton-b: #f8f8f8;
  // --skeleton-a: #e6e5e5;
  // --skeleton-b: #dddddd;
  --color-primary: #0446fc;
  --color-primary-light: #1d4880;
  --color-primary-lighter: #f3f6f9;
  --color-primary-dark: #1d4880;
  --color-primary-darker: #122c4d;
  --color-red: #c94a38;
  --color-red-light: #f75c48;
  --color-red-dark: #ad3f31;
  --color-green: #3fd152;
  --color-green-dark: #37b346;
  --color-yellow: #ff9800;
  --color-yellow-dark: #e68d07;
  --color-link: #337ab7;
}

:root.dark {
  --body-bg: #030d15;
  --card-bg: #061b2b;
  --text-color: #eee;
  --text-color-a: #ccc;
  --line-color: rgba(255, 255, 255, 0.1);
  --skeleton-a: #062135;
  --skeleton-b: #01223d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 14px;
  font-family: "Work sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: var(--body-bg);
}

a {
  text-decoration: none;
}

a.link {
  color: var(--color-primary);
  display: inline-flex;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 0;
  border-radius: 30px;
}

a.link:hover {
  background: rgba(0, 119, 255, 0.103);
  padding: 5px 12px;
}

img {
  width: 100%;
  display: block;
  &.cover {
    object-fit: cover;
    object-position: center;
  }
}

p {
  color: var(--text-color-a);
}

// CORE
.container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar {
  min-height: 100px;
  background: var(--card-bg);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10 !important;
  display: flex;
  justify-content: stretch;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    color: var(--text-color);
    font-weight: bolder;
    img {
      max-width: 30px;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      margin-left: 50px;

      a {
        color: var(--text-color-a);
        border: 0;
        margin: 0;
        padding: 0;

        &:hover,
        &.active {
          color: var(--color-primary);
          background: none;
        }
      }
    }

    .dropdown {
      position: relative;

      &.active {
        .dropdown-menu {
          display: block;
          animation: enter 0.3s ease forwards;

          @keyframes enter {
            from {
              opacity: 0;
              transform: translateY(20px);
            }
            to {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }

    ul.dropdown-menu {
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      background: var(--card-bg);
      border-radius: 4px;
      min-width: 180px;
      width: 100%;
      display: none;
      z-index: 1000;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

      li {
        margin: 0;
        list-style: none;

        a {
          text-align: left;
          display: block;
          padding: 1rem;
          color: var(--text-color);

          &:hover {
            color: var(--text-color);
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }

  .action .btn {
    display: inline-block;
    background: var(--color-primary);
    color: #fff;

    &.minimal {
      background: none;
      color: slategrey;
    }
  }

  &.blend {
    background: transparent;
    box-shadow: none;

    .logo,
    .menu li a {
      color: #eee;

      &:hover,
      &.active {
        color: #fff;
      }
    }

    .action .btn {
      display: inline-block;
      background: #fff;
      color: slategray;

      &.minimal {
        background: none;
        color: #fff;
      }
    }
  }

  .skeleton {
    &.first {
      margin: 0;
    }

    margin-left: 15px;
  }

  @media (max-width: 700px) {
    position: relative;
    padding-bottom: 3rem;
    .container {
      display: block;
    }
    * {
      display: block;
    }
    .logo {
      padding: 1rem 0;
      margin-top: 10px;
      margin-bottom: 20px;
      display: block;
    }
    .menu {
      display: block;

      li {
        margin: 0;
      }

      li a {
        display: block;
        align-items: flex-start;
        padding: 1rem 0;
      }
    }
    .action {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      margin-top: 20px;
    }
    .skeleton {
      &.first {
        margin: 40px 0 0;
      }

      margin: 15px 0 0;
    }
  }
}

.nav-padding {
  padding-top: 100px;
  @media (max-width: 700px) {
    padding: 0;
  }
}

.header {
  min-height: 350px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center;
  background-size: cover;
  

  .title {
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 5px;
  }

  .subtitle {
    font-size: 1.1rem;
    color: #eee;
  }

  > * {
    position: relative;
    z-index: 2;
    color: #fff;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: radial-gradient(
    //   circle farthest-corner at 10% 20%,
    //   rgba(105, 105, 236, 1) 0.1%,
    //   rgba(31, 31, 112, 1) 100.2%
    // );
    // background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    opacity: 0.9;
    z-index: 1;
  }

  .navbar {
    position: absolute;
  }

  @media (max-width: 700px) {
    min-height: initial;
    flex-direction: column;
    padding: 0;
    .navbar {
      position: relative;
    }
    .subtitle {
      margin-bottom: 30px;
    }
  }
}

.tab {
  &-items {
    display: flex;
  }

  &-item {
    padding: 1rem 0;
    margin-right: 30px;
    cursor: pointer;
    color: var(--text-color);

    &:hover {
      border-bottom: 2px solid var(--line-color);
    }

    &.active {
      border-bottom: 2px solid var(--color-primary);
    }
  }

  &-view {
    display: none;
    position: relative;

    &.active {
      display: block;
    }
  }
}

.two-column {
  display: flex;
  padding: 2rem 0;

  .left,
  .right {
    flex: 1;
  }

  .left {
    padding-right: 1rem;
  }

  .right {
    padding-left: 2rem;
  }

  .image {
    border-radius: 5px;
    overflow: hidden;
    position: sticky;
    top: calc(100px + 3rem);
    width: 90%;
    min-height: 300px;

    img {
      max-height: 300px;
    }

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  .title {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .details-list {
    margin: 1rem 0 1rem 15px;
  }

  a {
    margin-bottom: 5px;

    i {
      margin-top: 2px;
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;

    .left {
      margin-bottom: 30px;
    }
    .left,
    .right {
      padding: 0 !important;
    }
  }
}

.dashboard {
  max-width: 800px;
  margin: auto;
}

.dashboard-items {
  width: 100%;
}

.dashboard-item {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  background: var(--card-bg);

  .details {
    padding: 2rem 2rem 1rem;
    color: var(--text-color);
  }

  .actions {
    padding: 1rem 2rem;
    background: rgba(0, 65, 255, 0.04);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: var(--text-color-a);
  }

  @media (max-width: 700px) {
    .details {
      display: block;
    }
    .right {
      margin-top: 15px;
    }
    .actions {
      .buttons > * {
        display: inline-flex;
        margin-top: 10px;
      }
    }
  }
}

.offer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.2rem 0;

  &:last-child {
    border: 0;
  }

  .price {
    font-size: 1.1rem;
    color: var(--text-color-a);
  }

  .name {
    color: slategray;
  }
}

main {
  padding: 2rem 0;

  &.home {
    padding: 0.4rem 0;

    .container {
      padding-top: 6rem;
      padding-bottom: 2rem;
    }

    @media (max-width: 700px) {
      .container {
        padding-top: 0;
      }
    }
  }
}

.filter {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;

  &.card {
    width: calc(100% + 30px);
    transform: translateX(-15px);
  }

  > * > * {
    display: inline-block;
    max-width: 160px;
    margin-right: 20px;
  }

  @media (max-width: 700px) {
    position: relative;
    top: 0;
    * {
      flex-direction: column;
      align-items: stretch !important;
      margin: 0 0 10px 0 !important;
      max-width: initial;
    }
  }
}

.images-preview {
  display: flex;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.single-car {
  .title {
    color: var(--text-color);
  }

  .seller,
  .subtitle,
  .details-list {
    color: var(--text-color-a);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  max-width: 550px;
  position: relative;

  .siema {
    width: 100% !important;
    height: 100% !important;
    min-height: initial !important;
    border-radius: 4px;
    overflow: hidden;

    img {
      height: 100% !important;
      object-fit: cover;
      object-position: center;
      max-width: 550px;
      min-height: 300px;
    }
  }

  .s-button {
    border: 0;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    cursor: pointer;
    color: #fff;
    top: 0;

    &.next {
      right: 0;
      background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
      justify-content: flex-end;
      padding-right: 1rem;
    }

    &.prev {
      left: 0;
      justify-content: flex-start;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
      padding-left: 1rem;
    }
  }
}

.admin-filter {
  position: absolute;
  top: -77px;
  right: 0;
  max-width: 100px;
}