@import url('https://fonts.googleapis.com/css?family=Poppins|Work+Sans');

:root {
  --color-primary: #241cc2;
  --color-primary-light: #1d4880;
  --color-primary-lighter: #f3f6f9;
  --color-primary-dark: #1d4880;
  --color-primary-darker: #122c4d;
  --color-red: #c94a38;
  --color-red-light: #f75c48;
  --color-red-dark: #ad3f31;
  --color-green: #3fd152;
  --color-green-dark: #37b346;
  --color-link: #337ab7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
}

html {
  font-size: 14px;
  font-family: 'Work sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: #eff3f6;
}

a {
  color: var(--color-primary);
  display: inline-flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1px 0;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background: rgba(0, 119, 255, 0.103);
}

img {
  width: 100%;
  display: block;
}

// CORE
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar {
  min-height: 100px;
  background: #fff;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: stretch;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    color: #333;
    font-weight: bolder;
  }

  .menu {
    display: flex;
    align-items: center;
    list-style: none;
    li {
      margin-left: 50px;
      a {
        color: #999;
        border: 0;
        margin: 0;
        padding: 0;
        &:hover,
        &.active {
          color: var(--color-primary);
          background: none;
        }
      }
    }
  }

  .action .btn {
    display: inline-block;
    background: var(--color-primary);
    color: #fff;
    &.minimal {
      background: none;
      color: slategrey;
    }
  }

  &.blend {
    background: transparent;
    box-shadow: none;

    .logo,
    .menu li a {
      color: #eee;
      &:hover,
      &.active {
        color: #fff;
      }
    }

    .action .btn {
      display: inline-block;
      background: #fff;
      color: slategray;
      &.minimal {
        background: none;
        color: #fff;
      }
    }
  }
}

.nav-padding {
  padding-top: 100px;
}

.header {
  min-height: 250px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url('https://picsum.photos/id/1071/3000/1996') no-repeat center;

  .title {
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 5px;
  }
  .subtitle {
    font-size: 1.1rem;
    color: #eee;
  }

  > * {
    position: relative;
    z-index: 2;
    color: #fff;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(105, 105, 236, 1) 0.1%,
      rgba(31, 31, 112, 1) 100.2%
    );
    opacity: 0.9;
    z-index: 1;
  }

  .navbar {
    position: absolute;
  }
}

.tab {
  &-items {
    display: flex;
  }
  &-item {
    padding: 1rem 0;
    margin-right: 30px;
    cursor: pointer;
    &:hover {
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }
    &.active {
      border-bottom: 2px solid var(--color-primary);
    }
  }
  &-view {
    display: none;
    &.active {
      display: block;
    }
  }
}

main {
  padding: 2rem 0;
}

.two-column {
  display: flex;
  padding: 2rem 0;

  .left,
  .right {
    flex: 1;
  }

  .left {
    padding-right: 1rem;
  }
  .right {
    padding-left: 2rem;
  }

  .image {
    border-radius: 5px;
    overflow: hidden;
    position: sticky;
    top: calc(100px + 3rem);
    width: 90%;
  }

  .title {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 5px;
  }

  .details-list {
    margin: 1rem 0 1rem 15px;
  }
  a {
    margin-bottom: 5px;
    i {
      margin-top: 2px;
    }
  }
}

.dashboard-items {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.dashboard-item {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2rem;
  .actions {
    margin-top: 20px;
  }
}

.offer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.2rem 0;

  .price {
    font-size: 1.1rem;
    color: #122c4d;
  }

  .name {
    color: slategray;
  }
}

.filter {
  &.card {
    width: calc(100% + 30px);
    transform: translateX(-15px);
  }

  > * > * {
    display: inline-block;
    max-width: 160px;
    margin-right: 20px;
  }
}



@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
