// UTILS
.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.justify {
    &-between {
      justify-content: space-between;
    }

    &-around {
      justify-content: space-around;
    }

    &-end {
      justify-content: flex-end;
    }

    &-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }
  }

  &.align {
    &-center {
      align-items: center;
    }

    &-start {
      align-items: flex-start;
    }

    &-end {
      align-items: flex-end;
    }
  }

  &-1 {
    flex: 1;
  }

  &-inline {
    display: inline-flex;
  }
}

.mr {
  &-1 {
    margin-right: 5px !important;
  }

  &-2 {
    margin-right: 10px !important;
  }

  &-3 {
    margin-right: 15px !important;
  }

  &-4 {
    margin-right: 20px !important;
  }
}

.ml {
  &-1 {
    margin-left: 5px !important;
  }

  &-2 {
    margin-left: 10px !important;
  }

  &-3 {
    margin-left: 15px !important;
  }

  &-4 {
    margin-left: 20px !important;
  }
}

.mt {
  &-1 {
    margin-top: 5px !important;
  }

  &-2 {
    margin-top: 10px !important;
  }

  &-3 {
    margin-top: 15px !important;
  }

  &-4 {
    margin-top: 20px !important;
  }

  &-5 {
    margin-top: 30px !important;
  }

  &-6 {
    margin-top: 40px !important;
  }
}

.mb {
  &-1 {
    margin-bottom: 5px;
  }

  &-2 {
    margin-bottom: 10px;
  }

  &-3 {
    margin-bottom: 15px;
  }

  &-4 {
    margin-bottom: 20px;
  }

  &-5 {
    margin-bottom: 30px;
  }

  &-6 {
    margin-bottom: 40px;
  }

  &-10 {
    margin-bottom: 100px;
  }

  &-20 {
    margin-bottom: 200px;
  }
}

.mh {
  &-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

.text {
  &-primary {
    color: var(--color-primary);
  }

  &-success {
    color: var(--color-green) !important;
  }

  &-red {
    color: var(--color-red) !important;
  }

  &-grey {
    color: #999;
  }

  &-bold {
    font-weight: bold;
  }

  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  &-large {
    font-size: 3rem;
  }

  &-sm {
    font-size: 0.86rem;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;

  &-10 {
    position: sticky;
    top: 10px;
    z-index: 10;
  }
}

.d {
  &-flex {
    display: flex;
  }

  &-block {
    display: block;
  }

  &-inline {
    display: inline;
  }

  &-none {
    display: none;
  }
}

.rounded {
  border-radius: 50% !important;
}

.ellipsize {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}
